@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('../public/image/Pricing.png');
  /* background-repeat: no-repeat;
  background-size: cover; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

:root {
  scroll-behavior: smooth !important;
  --foreground-rgb: #fff;
  --background-start-rgb: #ddd;
  --background-end-rgb: #ddd;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  .container-sm {
    @apply max-w-[1280px] mx-auto px-5 md:px-8 w-full overflow-hidden;
  }
}

.border-circle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 90%;
  height: 10px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  z-index: 100;
}

.swiper {
  /* width: 100%;
  height: 100%; */
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}

.swiper-button-prev::after {
  /* content: "" !important ;  */
  padding: 10px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #6e8beb !important;
  top: var(--swiper-navigation-top-offset, 10%) !important;
  /* width: calc(var(--swiper-navigation-size) / 100* 27) !important;
  height: calc(var(--swiper-navigation-size) / 44* 27) !important; */
}

/* .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */

/* .swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
} */

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 13px;
  margin: 0 30px !important;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  background-color: #6e8beb;
  border-radius: 5px;
  height: 13px !important;
  width: 65px !important;
  text-indent: -9999px;
  overflow: visible;
}

.custom-prev-button,
.custom-next-button {
  background-color: #6e8beb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 33px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-prev-button {
  left: 5%;
}

.custom-next-button {
  right: 5%;
}

.summit-prev-button,
.summit-next-button {
  /* background-color: #6e8beb;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 30px 30px; */
  cursor: pointer;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summit-prev-button {
  left: -5% !important;
}

.summit-next-button {
  right: -5% !important;
}

/* .slick-slide{
  padding-right:20px;
} */

/* .slick-list [data-index="1"] {
   padding-right: 0;
 } */
/* .slick-list [data-index="2"] {
   padding-right: 0;
 } */

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #e4e4e4;
  top: 12px;
  left: 0;
  z-index: -1;
}
@media (min-width: 600px) and (max-width: 899px) {
  .timeline::after {
    width: 1px;
    height: 152%;
    top: -246px;
    left: 28px;
  }
}

@media (max-width: 599px) {
  .timeline::after {
    width: 1px;
    height: 145%;
    top: -210px;
    left: 28px;
  }
}
